:root {
    --a-hover-color: #2196F3;
    --light-text: #FFF;
}
body {
    color: #757575;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
/*
section {}
*/
section.hero {
    text-align: center;
}
section.hero, footer {
    background-color: #2F303A;
}
h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-text);
}
h2 {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
h3 {
    line-height: 1.14;
    text-transform: uppercase;
}
h2, h3 {
    color: #212121;
    font-weight: 700;
}
h3, p {
    font-size: 14px;
    letter-spacing: 0.03em;
}
p {
    line-height: 1.7;
}
a {
    color: #212121;
    font-weight: 500;
    text-decoration: none;
}
a:hover, a:focus {
    color: var(--a-hover-color);
}
a.logo {
    font: 700 26px 'Raleway', sans-serif;
    line-height:  1.2;
    letter-spacing: 0.03em;
}
header a.logo {color: #000;}
footer a.logo {color: #FFF;}
a.logo span {color: var(--a-hover-color);}
button {
    background-color: var(--a-hover-color);
    color: var(--light-text);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    text-align: center;
}
button:hover, button:focus {
    background-color: #188CE8;
    cursor: pointer;
}
ul > li {
    list-style: none;
}
/*
ul.contact-header li {}
*/
ul.contact-footer li {display: inherit;}
ul.contact-footer li a {
    color: rgba(255, 255, 255, 0.6);
}
ul.contact-footer li:first-child a {
    color: var(--light-text);
}
/*
ul.we-do>li {}
ul.cards>li {}
*/
ul.team > li {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

ul.filters a {
    background: #F5F4FA;
    border-radius: 4px;
}
ul.filters button:active {
    color: var(--light-text);
    background-color: var(--a-hover-color);
}
ul.projects > li {border: 1px solid #EEE;}
ul.projects h3 {text-transform: none;}